<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<title>Form</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="keywords" content="ZR Themes">
	<meta name="description" content="Care - Medical Responsive HTML5 Website Template">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="static/assets/images/favicon.png">
	<!-- Site All Style Sheet Css -->
	<link href="static/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="static/assets/stylesheets/swiper.min.css" rel="stylesheet">
	<link href="static/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
	<link href="static/assets/stylesheets/owl.carousel.min.css" rel="stylesheet">
	<link href="static/assets/stylesheets/owl.theme.default.min.css" rel="stylesheet">
	<link href="static/assets/stylesheets/animate.min.css" rel="stylesheet">
	<link href="static/assets/stylesheets/magnific-popup.css" rel="stylesheet">
	<!-- Site Main Style Sheet Css -->
	<link href="static/assets/stylesheets/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    
</head>

<body>

	<!-- Start Page Preloader Area -->
	<div class="preloader" id="zr-theme-preloader">
		<div class="preloader-wapper">
			<div>
				<div class="spinner-loader">
                    <img src="static/assets/images/loader.svg" alt="laoder">
                </div>
			</div>
		</div>
	</div>
	<!-- End Page Preloader Area -->

    <!-- Start Header Navbar Area -->
    <header id="zr-theme-menu" class="zr-theme-menu-header-navber-area">
        <div class="nav-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="top-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-b navbar-trans navbar-expand-lg" id="mainNav">
            <div class="container menu-bg border-4">
                <a class="navbar-brand js-scroll" href="index.html">
                    <img src="static/assets/images/logo.png" class="white-logo" alt="logo">
                    <img src="static/assets/images/logo-black.png" class="black-logo" alt="logo">
                </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation"> <span></span>  <span></span>  <span></span> 
			</button>
                <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                    <ul class="navbar-nav">
                        
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Tumor Prediction </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a href="/index">Classification</a></li>
                                <li><a href="/index1">Detection</a></li>
                                
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link js-scroll" href="/about">Graph</a></li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Notebook </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a href="/notebook1">Classification</a></li>
                                <li><a href="/notebook2">Detection</a></li>
                                
                                
                            </ul>
                        </li>
                        
                        <li class="nav-item"><a class="theme-button-light js-scroll" href="/login"> Signout<span></span></a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header Navbar Area -->
	
	<!-- Start Slider Are -->
    <header id="slider-home" class="slider slider-prlx">
        <div class="swiper-container parallax-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="static/assets/images/slider-1.jpg" data-overlay-dark="2">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="caption">
                                        <h2 style="color: blueviolet;">welcome to dashboard </h2>
                                        <br><br>
                                        <h3> MRI-BASED BRAIN TUMOR DIAGNOSTICS USING ADVANCED AI TECHNIQUES</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="static/assets/images/slider-1.jpg" data-overlay-dark="2">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="caption">
                                        <h2 style="color: blueviolet;">welcome to dashboard </h2>
                                        <br><br>
                                        <h3> MRI-BASED BRAIN TUMOR DIAGNOSTICS USING ADVANCED AI TECHNIQUES</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </header>
    <!-- End Slider Area -->


   
	
    <!-- Services Section Start -->
    <section id="services" class="theme-repair-services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
							
							<h5 class="small-title">FORM</h5>
            
			<!-- AI code-->
				 
				   <form class="form-signin col-lg-3" action="/predict" method=post enctype=multipart/form-data >
       
          <h1 class="h3 mb-3 font-weight-normal">Upload an Image</h1>
      <input type="file" name="file" class="form-control-file" id="inputfile" >
      <br><br><br>
          <br/>
          
          <button style="background-color: #04AA6D; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;"  type="submit">Upload</button>
  
    </form>

	
</div>
</div>
</section>
<!-- Services Section End -->
<br><br><br><br>
<!-- Footer -->
<footer id="footer" class="footer-section">

<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                <div class="copyright-text">
                    <p>Care - Medical © 2023 - Designed by Zr Themes.</p>
                </div>
            </div>
           
        </div>
    </div>
</div>
</footer>
<!-- End Footer -->

<!-- Back to Top Start -->
<div class="back-to-top">
<i class="fa fa-caret-up"></i><i class="fa fa-caret-up"></i>
</div>
<!-- Back to Top End -->

<!-- Site All Jquery Js -->
<script src="static/assets/javascript/jquery-3.5.1.min.js"></script>
<script src="static/assets/javascript/bootstrap.min.js"></script>
<script src="static/assets/javascript/plugins.js"></script>
<script src="static/assets/javascript/swiper.min.js"></script>
<script src="static/assets/javascript/wow.min.js"></script>
<script src="static/assets/javascript/validator.min.js"></script>
<script src="static/assets/javascript/contact.js"></script>
<script src="static/assets/javascript/main.js"></script>
</body>

</html>